
@font-face { 
    font-family: 'Avenir-Black'; 
    src: url('fonts/Avenir-Black.eot'); 
    src: url('fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Black.woff') format('woff'), 
         url('fonts/Avenir-Black.ttf') format('truetype'), 
         url('fonts/Avenir-Black.svg#Avenir-Black') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
} 

@font-face { 
    font-family: 'Avenir-Black'; 
    src: url('fonts/Avenir-BlackOblique.eot'); 
    src: url('fonts/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-BlackOblique.woff') format('woff'), 
         url('fonts/Avenir-BlackOblique.ttf') format('truetype'), 
         url('fonts/Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
} 

@font-face { 
    font-family: 'Avenir-Book'; 
    src: url('fonts/Avenir-Book.eot'); 
    src: url('fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Book.woff') format('woff'), 
         url('fonts/Avenir-Book.ttf') format('truetype'), 
         url('fonts/Avenir-Book.svg#Avenir-Book') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
} 

@font-face { 
    font-family: 'Avenir-Book'; 
    src: url('fonts/Avenir-BookOblique.eot'); 
    src: url('fonts/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-BookOblique.woff') format('woff'), 
         url('fonts/Avenir-BookOblique.ttf') format('truetype'), 
         url('fonts/Avenir-BookOblique.svg#Avenir-BookOblique') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
} 

@font-face { 
    font-family: 'Avenir-Heavy'; 
    src: url('fonts/Avenir-Heavy.eot'); 
    src: url('fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Heavy.woff') format('woff'), 
         url('fonts/Avenir-Heavy.ttf') format('truetype'), 
         url('fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face { 
    font-family: 'Avenir-Heavy'; 
    src: url('fonts/Avenir-HeavyOblique.eot'); 
    src: url('fonts/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-HeavyOblique.woff') format('woff'), 
         url('fonts/Avenir-HeavyOblique.ttf') format('truetype'), 
         url('fonts/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
} 

@font-face { 
    font-family: 'Avenir-Light'; 
    src: url('fonts/Avenir-Light.eot'); 
    src: url('fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Light.woff') format('woff'), 
         url('fonts/Avenir-Light.ttf') format('truetype'), 
         url('fonts/Avenir-Light.svg#Avenir-Light') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face { 
    font-family: 'Avenir-Light'; 
    src: url('fonts/Avenir-LightOblique.eot'); 
    src: url('fonts/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-LightOblique.woff') format('woff'), 
         url('fonts/Avenir-LightOblique.ttf') format('truetype'), 
         url('fonts/Avenir-LightOblique.svg#Avenir-LightOblique') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
} 
@font-face { 
    font-family: 'Avenir-Medium'; 
    src: url('fonts/Avenir-Medium.eot'); 
    src: url('fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Medium.woff') format('woff'), 
         url('fonts/Avenir-Medium.ttf') format('truetype'), 
         url('fonts/Avenir-Medium.svg#Avenir-Medium') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face { 
    font-family: 'Avenir-Medium'; 
    src: url('fonts/Avenir-MediumOblique.eot'); 
    src: url('fonts/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-MediumOblique.woff') format('woff'), 
         url('fonts/Avenir-MediumOblique.ttf') format('truetype'), 
         url('fonts/Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
} 
@font-face { 
    font-family: 'Avenir-Roman'; 
    src: url('fonts/Avenir-Roman.eot'); 
    src: url('fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Roman.woff') format('woff'), 
         url('fonts/Avenir-Roman.ttf') format('truetype'), 
         url('fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
} 

@font-face { 
    font-family: 'Avenir-Roman'; 
    src: url('fonts/Avenir-Oblique.eot'); 
    src: url('fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'), 
         url('fonts/Avenir-Oblique.woff') format('woff'), 
         url('fonts/Avenir-Oblique.ttf') format('truetype'), 
         url('fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
}

@font-face {
    font-family: 'No SevenBlack';
    src: url('fonts/no._seven_black-webfont.eot');
    src: url('fonts/no._seven_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/no._seven_black-webfont.woff2') format('woff2'),
         url('fonts/no._seven_black-webfont.woff') format('woff'),
         url('fonts/no._seven_black-webfont.ttf') format('truetype'),
         url('fonts/no._seven_black-webfont.svg#no._seven_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'No SevenOrnaments';
    src: url('fonts/no._seven_ornaments-webfont.eot');
    src: url('fonts/no._seven_ornaments-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/no._seven_ornaments-webfont.woff2') format('woff2'),
         url('fonts/no._seven_ornaments-webfont.woff') format('woff'),
         url('fonts/no._seven_ornaments-webfont.ttf') format('truetype'),
         url('fonts/no._seven_ornaments-webfont.svg#no._seven_ornamentsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Eveleth Regular';
    src: url('fonts/yellow_design_studio_-_eveleth_regular-webfont.eot');
    src: url('fonts/yellow_design_studio_-_eveleth_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yellow_design_studio_-_eveleth_regular-webfont.woff') format('woff'),
         url('fonts/yellow_design_studio_-_eveleth_regular-webfont.ttf') format('truetype'),
         url('fonts/yellow_design_studio_-_eveleth_regular-webfont.svg#eveleth_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Eveleth Thin';
    src: url('fonts/yellow_design_studio_-_eveleth_thin-webfont.eot');
    src: url('fonts/yellow_design_studio_-_eveleth_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yellow_design_studio_-_eveleth_thin-webfont.woff') format('woff'),
         url('fonts/yellow_design_studio_-_eveleth_thin-webfont.ttf') format('truetype'),
         url('fonts/yellow_design_studio_-_eveleth_thin-webfont.svg#eveleththin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}